@import './animation';
@import './var';

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 13px;
}

ul, ol {
  margin: 0;
  list-style: none;
}
body {
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
  user-select: none;
  font-family: "Microsoft JhengHei", "\660E\9ED1", Arial, Helvetica;
}
a,
a:focus {
  text-decoration: none;
  color: $font_secondary_color
}
a:hover {
  color: $font_color
}
::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

img[lazy="loaded"] {
  animation: lazyedAni 0.3s;
}

.player {
  // width: 100%;
  // height: 40px;
  // padding: 12px;
  // position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  background: #eee;
  display: flex;
  align-items: center;
  h1 {
    font-size: 18px;

    small {
      font-size: 12px;
      font-weight: normal;
      color: #999;
      &::before {
        content: ' - '
      }
    }
  }
  .player__info {
    flex: 1;
    margin: 0 10px;
  }
  .player__controls {
    display: flex;
    margin-right: 10px;
    align-items: center;
    i {
      margin: 10px;
      font-size: 2em;
    }
    .el-icon-video-play {
      font-size: 3em;
    }
  }
}

dl {
  margin: 20px 0;
}

dl.tags {
  display: flex;
  margin: 0 0 8px;
  dt {
    margin-right: 10px;
  }
  dd {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  .tag__item {
    padding: 0 10px;
    cursor: pointer;
    &.is-actived {
      color: $font_hl_color;
    }
  }
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  .sub-header__extra {
    height: 100%;
    display: flex;
    align-items: center;
    & > * {
      margin-left: 20px;
    }
  }
}

@import './cards';
@import './response';
