.app__top {
    height: 50px;
    background-color: #C20C0C;
    border-bottom: 1px solid #a40011;
    display: flex;
    align-items: center;
    color: #000;
    a {
        color: #333
    }

    h1 a, 
    a:hover,
    a.actived {
        color: #000
    }


    h1 {
        width: 150px;
        margin-left: 20px;
        padding-left: 40px;
        background: url('/static/images/logo.svg') no-repeat 0 -5px;
        text-indent: -999em;
    }

    nav {
        height: 100%;
        margin-left: 20px;
        display: flex;
        align-items: center;
        a {
            display: inline-flex;
            align-items: center;
            height: 100%;
            padding: 0 20px;
        }
    }
}