$header_size: 60px;
$header_bg_color: #C20C0C;
$header_border_color: 1px solid #a40011;

// normal font
$font_color: #333;
$font_secondary_color: #666;
$font_hl_color: #C20C0C;

// reverse font
$font_reverse_color: #f7f7f7;
$font_reverse_secondary_color: #e2e2e2;
$font_reverse_hl_color: #fff;

// font label
$font_label_color: #999;

$side_width: 200px;
$side_bg_color: #ededed;

$main_bg_color: #fff;
